@tailwind base;
@tailwind utilities;
@tailwind components;



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper::-webkit-scrollbar
{
   display: none;
}
.swiper .box
{
    z-index: 3 ;
}
.page5
{
    
    animation: slide 1 infinite linear ;
}


@keyframes slide {
    0%
    {
      transform: translate(0%);
    }
    100%
    {
      transform: translateX(-100%);
    }
}